BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
ColumnLimit: 110
MaxEmptyLinesToKeep: 2
EmptyLineBeforeAccessModifier: Always
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AcrossEmptyLines: true
AcrossComments: false
AlignTrailingComments:
Kind: Always
OverEmptyLines: 2
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
  AfterClass: true
BreakBeforeBraces: Custom
AlignAfterOpenBracket: AlwaysBreak
BracedInitializerIndentWidth: 2
AllowShortEnumsOnASingleLine: true

